In [20]:
import numpy as np
import pandas as pd

In [21]:
heroesP=pd.read_csv("purchase_data.csv")
heroesP.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
#heroesP.info()

In [23]:
heroesP.dropna(how="any").head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
N_Players=len(heroesP["SN"].unique().tolist())
N_UniqueI=len(heroesP["Item ID"].unique().tolist())
N_Purchases=heroesP["Purchase ID"].count()
T_Rev=heroesP["Price"].sum()

print("Total Number of Players Method1",N_Players)
print("Number of Unique Items Method1",N_UniqueI)
print("Number of Purchases",N_Purchases)
print("Total Revenue",T_Rev)

N_Players2=heroesP["SN"].value_counts().count()
N_UniqueI2=heroesP["Item ID"].value_counts().count()
print("Total Number of Players Method2",N_Players2)
print("Number of Players Method2",N_UniqueI2)

Total Number of Players Method1 576
Number of Unique Items Method1 183
Number of Purchases 780
Total Revenue 2379.77
Total Number of Players Method2 576
Number of Players Method2 183

In [25]:
GenderCl=heroesP.groupby("Gender")["SN"].nunique(dropna=True)

In [26]:
GenderCl=GenderCl.reset_index()

In [27]:
GenderCl["Percentage"]=GenderCl["SN"]*100/N_Players
#GenderCl.drop(["level_0","index"],axis=1)

In [28]:
GenderCl=GenderCl.rename(columns={"SN":"# of Players"})
CC=GenderCl.set_index("Gender")
CC

                       # of Players  Percentage
Gender
Female                           81   14.062500
Male                            484   84.027778
Other / Non-Disclosed            11    1.909722

In [29]:
GenderP=(heroesP.groupby("Gender")["Purchase ID"].nunique(dropna=True)).reset_index()
GenderP=GenderP.set_index("Gender")
GenderP=GenderP.rename(columns={"Purchase ID":"Amount of Purchases"})
GenderP

                       Amount of Purchases
Gender
Female                                 113
Male                                   652
Other / Non-Disclosed                   15

In [194]:
heroesP[heroesP.Gender=="Male"].nunique()

Purchase ID    652
SN             484
Age             39
Gender           1
Item ID        182
Item Name      178
Price          144
dtype: int64

In [38]:
heroesP["Price"].value_counts(bins=5,ascending=True)

(1.798, 2.596]    127
(2.596, 3.394]    134
(3.394, 4.192]    171
(4.192, 4.99]     172
(0.995, 1.798]    176
Name: Price, dtype: int64

In [48]:
GenderT=(heroesP.groupby("Gender")["Price"].sum()).reset_index()
GenderT=(GenderT.rename(columns={"Price":"Total Purchase Value"})).set_index("Gender")
GenderT

                       Total Purchase Value
Gender
Female                               361.94
Male                                1967.64
Other / Non-Disclosed                 50.19