In [129]:
import numpy as np
import pandas as pd

In [130]:
heroesP=pd.read_csv("purchase_data.csv")
heroesP.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [131]:
#heroesP.info()

In [132]:
#heroesP.dropna(how="any").head()

In [133]:
N_Players=len(heroesP["SN"].unique().tolist())            #N_Players2=heroesP["SN"].value_counts().count()
N_UniqueI=len(heroesP["Item ID"].unique().tolist())       #N_UniqueI2=heroesP["Item ID"].value_counts().count()
N_Purchases=heroesP["Purchase ID"].count()
T_Rev=heroesP["Price"].sum()

print("Total Number of Players Method1",N_Players)
print("Number of Unique Items Method1",N_UniqueI)
print("Number of Purchases",N_Purchases)
print("Total Revenue",T_Rev)

Total Number of Players Method1 576
Number of Unique Items Method1 183
Number of Purchases 780
Total Revenue 2379.77

In [134]:
GenderCl=heroesP.groupby("Gender")["SN"].nunique(dropna=True)

In [135]:
GenderCl=GenderCl.reset_index()

In [136]:
GenderCl["% PLayers"]=GenderCl["SN"]*100/N_Players
#GenderCl.drop(["level_0","index"],axis=1)

In [137]:
GenderCl=GenderCl.rename(columns={"SN":"# of Players"})
CC=GenderCl.set_index("Gender")

In [138]:
GenderP=(heroesP.groupby("Gender")["Purchase ID"].nunique(dropna=True)).reset_index()
GenderP=GenderP.set_index("Gender")
GenderP=GenderP.rename(columns={"Purchase ID":"Amount of Purchases"})

In [139]:
#heroesP[heroesP.Gender=="Male"].nunique()

In [140]:
#heroesP["Price"].value_counts(bins=5,ascending=True)

In [141]:
GenderT=(heroesP.groupby("Gender")["Price"].sum()).reset_index()
GenderT=(GenderT.rename(columns={"Price":"Total Purchase Value"})).set_index("Gender")
GenderT["Average Purchase Value"]=GenderT["Total Purchase Value"]/GenderP["Amount of Purchases"]

In [144]:
mergT=pd.merge(GenderP,GenderT,on="Gender")
mergTT=pd.merge(CC,mergT,on="Gender")
mergTT["% Purchases"]=GenderP["Amount of Purchases"]*100/N_Purchases
FinalG=mergTT[["# of Players","% PLayers","Amount of Purchases","% Purchases","Total Purchase Value",
              "Average Purchase Value"]]
FinalG

,# of Players,% PLayers,Amount of Purchases,% Purchases,Total Purchase Value,Average Purchase Value
Gender,,,,,,
Female,81,14.062500,113,14.487179,361.94,3.203009
Male,484,84.027778,652,83.589744,1967.64,3.017853
Other / Non-Disclosed,11,1.909722,15,1.923077,50.19,3.346000

In [152]:
AvPP=(heroesP.groupby(["Gender","SN"])["Price"].mean()).reset_index()
AvPP.head()

   Gender             SN  Price
0  Female    Adastirin33   4.48
1  Female  Aerithllora36   4.32
2  Female     Aethedru70   3.54
3  Female       Aidain51   3.45
4  Female      Aiduesu86   4.48

In [155]:
heroesP[heroesP.SN=="Lisim78"]["Price"].mean()

3.34

In [156]:
heroesP[heroesP.duplicated(["SN"])].max()

Purchase ID                      779
SN                         Zontibe81
Age                               40
Gender         Other / Non-Disclosed
Item ID                          183
Item Name         Yearning Mageblade
Price                           4.91
dtype: object

In [160]:
(heroesP["Age"].value_counts(bins=4,ascending=True)).reset_index()

                       index  Age
0               (35.5, 45.0]   40
1               (26.0, 35.5]  115
2  (6.960999999999999, 16.5]  116
3               (16.5, 26.0]  509