In [52]:
import numpy as np
import pandas as pd

In [53]:
heroesP=pd.read_csv("purchase_data.csv")
heroesP.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [54]:
#heroesP.info()

In [55]:
heroesP.dropna(how="any").head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [56]:
N_Players=len(heroesP["SN"].unique().tolist())
N_UniqueI=len(heroesP["Item ID"].unique().tolist())
N_Purchases=heroesP["Purchase ID"].count()
T_Rev=heroesP["Price"].sum()

print("Total Number of Players Method1",N_Players)
print("Number of Unique Items Method1",N_UniqueI)
print("Number of Purchases",N_Purchases)
print("Total Revenue",T_Rev)

N_Players2=heroesP["SN"].value_counts().count()
N_UniqueI2=heroesP["Item ID"].value_counts().count()
print("Total Number of Players Method2",N_Players2)
print("Number of Players Method2",N_UniqueI2)

Total Number of Players Method1 576
Number of Unique Items Method1 183
Number of Purchases 780
Total Revenue 2379.77
Total Number of Players Method2 576
Number of Players Method2 183

In [57]:
GenderCl=heroesP.groupby("Gender")["SN"].nunique(dropna=True)

In [58]:
GenderCl=GenderCl.reset_index()

In [59]:
GenderCl["Percentage"]=GenderCl["SN"]*100/N_Players
#GenderCl.drop(["level_0","index"],axis=1)

In [60]:
GenderCl=GenderCl.rename(columns={"SN":"# of Players"})
CC=GenderCl.set_index("Gender")
CC

                       # of Players  Percentage
Gender
Female                           81   14.062500
Male                            484   84.027778
Other / Non-Disclosed            11    1.909722

In [61]:
GenderP=(heroesP.groupby("Gender")["Purchase ID"].nunique(dropna=True)).reset_index()
GenderP=GenderP.set_index("Gender")
GenderP=GenderP.rename(columns={"Purchase ID":"Amount of Purchases"})
GenderP

                       Amount of Purchases
Gender
Female                                 113
Male                                   652
Other / Non-Disclosed                   15

In [62]:
#heroesP[heroesP.Gender=="Male"].nunique()

In [66]:
#heroesP["Price"].value_counts(bins=5,ascending=True)

In [67]:
GenderT=(heroesP.groupby("Gender")["Price"].sum()).reset_index()
GenderT=(GenderT.rename(columns={"Price":"Total Purchase Value"})).set_index("Gender")
GenderT["Average Purchase Value"]=GenderT["Total Purchase Value"]/GenderP["Amount of Purchases"]
GenderT

                       Total Purchase Value  Average Purchase Value
Gender
Female                               361.94                3.203009
Male                                1967.64                3.017853
Other / Non-Disclosed                 50.19                3.346000

In [70]:
heroesP.groupby(["Gender","SN"])["Price"].mean()

Gender                 SN
Female                 Adastirin33       4.480000
                       Aerithllora36     4.320000
                       Aethedru70        3.540000
                       Aidain51          3.450000
                       Aiduesu86         4.480000
                       Aillyrin83        2.890000
                       Aisurdru79        1.755000
                       Assilsan72        4.900000
                       Assosia88         1.330000
                       Baelollodeu94     4.515000
                       Chadistaya75      3.940000
                       Chamast86         2.050000
                       Chamilsala65      4.275000
                       Chamirrasya33     1.525000
                       Chamjask73        4.610000
                       Chanastsda67      3.700000
                       Chanirra79        1.010000
                       Chanjask65        4.320000
                       Chanossast57      4.320000
                       Errian63          3.490000
                       Eudanu32          2.850000
                       Eudanu84          1.020000
                       Eusri70           3.670000
                       Frichaststa61     1.790000
                       Frichosia58       4.430000
                       Frichosiala98     3.540000
                       Haisurra41        4.400000
                       Hari50            2.955000
                       Heosurnuru52      2.230000
                       Heudai45          3.470000
                                           ...
Male                   Yadanu52          2.380000
                       Yadaphos40        2.675000
                       Yalae81           3.345000
                       Yalaeria91        1.060000
                       Yaliru88          3.030000
                       Yalo85            3.650000
                       Yalostiphos68     4.400000
                       Yarithllodeu72    3.750000
                       Yarithrgue83      3.450000
                       Yarithsurgue62    4.940000
                       Yarolwen77        4.430000
                       Yasrisu92         3.440000
                       Yastyriaphos75    4.750000
                       Yasur35           4.480000
                       Yasur85           1.100000
                       Yathecal72        3.460000
                       Yathedeu43        3.010000
                       Zhisrisu83        3.945000
                       Zontibe81         2.676667
Other / Non-Disclosed  Airi27            3.450000
                       Chanosian48       3.760000
                       Eodaisu60         3.940000
                       Haerithp41        4.400000
                       Idairin51         3.500000
                       Jiskirran77       3.390000
                       Lirtim36          1.330000
                       Maluncil97        2.640000
                       Rairith81         2.220000
                       Siarithria38      3.455000
                       Sundim98          4.750000
Name: Price, Length: 576, dtype: float64